NODE_ENV=development
PORT=3000
HOST=localhost
LOG_LEVEL=debug

MONGODB_URI=mongodb+srv://<db_username>:<db_password>@e-commerce-cluster.3ya9v3e.mongodb.net/

CLOUDINARY_CLOUD_NAME=cloud_name
CLOUDINARY_API_KEY=api_key
CLOUDINARY_API_SECRET=api_secret

ALLOWED_ORIGINS=http://localhost:3000