NODE_ENV=development
PORT=3000
HOST=localhost
LOG_LEVEL=debug

ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173

MONGODB_URI=mongodb+srv://[username]:[password]@[cluster].mongodb.net/[dbname]?appName=[app]

REDIS_URL=rediss://default:[password]@[host]:[port]

JWT_ACCESS_SECRET=your_jwt_access_secret_here
JWT_ACCESS_EXP=15m

JWT_REFRESH_SECRET=your_jwt_refresh_secret_here
JWT_REFRESH_EXP_DAYS=7

OTP_TTL=300 # 5m
CORS_MAX_AGE=86400 # 1d

CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

BREVO_API_KEY=your_brevo_api_key
BREVO_SENDER_NAME=dev.backend.team
BREVO_SENDER_EMAIL=your_sender_email@example.com

STRIPE_SECRET_KEY=your_stripe_secret_key
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret

PAYPAL_CLIENT_ID=your_paypal_client_id
PAYPAL_CLIENT_SECRET=your_paypal_client_secret

PAYMOB_API_KEY=your_paymob_api_key
PAYMOB_INTEGRATION_ID=your_paymob_integration_id

FREE_SHIPPING_THRESHOLD=1000
SHIPPING_FEE=50
TAX_RATE=0.14